<ul class="alert alert-danger" *ngIf="errores!.length">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form #productForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors?.['required']">
                                Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors?.['minlength']">
                            Nombre debe tener al menos 4 caracteres
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="precio" class="col-form-label col-sm-2">Precio</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="product.precio" name="precio"  #precio="ngModel"> 
                    <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                        <div *ngIf="precio.errors?.['required']">
                                precio es requerido
                        </div>
                        <div *ngIf="precio.errors?.['minlength']">
                            precio debe tener al menos 8 caracteres
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="Cantidad" class="col-form-label col-sm-2">Cantidad</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.cantidad" name="Cantidad"  #Cantidad="ngModel"><!-- required Cantidad -->
                    <div class="alert alert-danger" *ngIf="Cantidad.invalid && (Cantidad.dirty || Cantidad.touched)">
                        <div *ngIf="Cantidad.errors?.['required']">
                                Cantidad es reuqerido
                        </div>
                        <div *ngIf="Cantidad.errors?.['Cantidad']">
                           Cantidad debe tener un formato valido
                    </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="imagen" class="col-form-label col-sm-2">imagen</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.imagen" name="imagen"  #imagen="ngModel"><!-- required imagen -->
                    <div class="alert alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                        <div *ngIf="imagen.errors?.['required']">
                                imagen es reuqerido
                        </div>
                        <div *ngIf="imagen.errors?.['imagen']">
                           imagen debe tener un formato valido
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="estado" class="col-form-label col-sm-2">estado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="product.estado" name="estado"  #estado="ngModel"><!-- required estado -->
                    <!-- <div class="alert alert-danger" *ngIf="estado.invalid && (estado.dirty || estado.touched)">
                        <div *ngIf="estado.errors?.['required']">
                                estado es reuqerido
                        </div>
                        <div *ngIf="estado.errors?.['estado']">
                           estado debe tener un formato valido
                    </div>
                    </div> -->
                </div>
            </div>

            <div class="form-group row">s
                <div class="col-sm-6">
                   
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!product.id else elseBlock" >Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!productForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>

    </div>
</div>
