<div class="my-2 text-left" >
  <button *ngIf="auth.hasRole('ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/producto/form']">Crear producto</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th *ngIf="auth.hasRole('ADMIN')"  scope="col">Actualizar</th>
        <th *ngIf="auth.hasRole('ADMIN')"  scope="col">Eliminar</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{producto.id}}</th>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.cantidad}}</td>
        <td *ngIf="auth.hasRole('ADMIN')" >
          <button type="button" name="button" [routerLink]="['/producto/form', producto.id]"
          class="btn btn-primary">
            editar</button>
        </td>
        <td *ngIf="auth.hasRole('ADMIN')" >
          <button type="button" name="eliminar" (click)="delete(producto)" class="btn btn-danger btn-sm">eliminar</button>
        </td>
        
      </tr>
      
    </tbody>
  </table>
