<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://images.pexels.com/photos/2235130/pexels-photo-2235130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        App
      </a>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()">
         
            <a [routerLink]="['login']" class= "btn btn-autline-primary">Sing In</a></li>
           
            <li class="dropdown" *ngIf="authService.isAuthenticated()">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{authService.usuario.userName}}
                </a>
              
                <ul class="dropdown-menu">
                  <button  type="submit" (click)="signOut()">Sign Out</button>
               
                </ul>
            </li>    
      
      
        </ul>
    </div>
  </nav>
