
<h2>
   Buscar Por User Name
</h2>

<div class="row">
    <div class="col">
        <!-- SearchBox-->
        <app-search-box 
        (onValue)="searcByUserName($event)"
        [placeHolder]="byUserName"
        ></app-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <app-table  [user]="user"></app-table>
    </div>
</div>