<div class="my-2 text-left" >
  <button *ngIf="auth.hasRole('ADMIN')"  class="btn btn-rounded btn-primary"  type="button" [routerLink]="['/user/form']">Crear usuario</button>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">email</th>
        <th scope="col">Activo</th>
        <th *ngIf="auth.hasRole('ADMIN')"  scope="col">Actualizar</th>
        <th *ngIf="auth.hasRole('ADMIN')"  scope="col">Eliminar</th>
       

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.idUser}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.status}}</td>
        <td *ngIf="auth.hasRole('ADMIN')" >
            <button type="button" name="button" [routerLink]="['user/form', user.idUser]"
            class="btn btn-primary">
              editar</button>
          </td>
          <td *ngIf="auth.hasRole('ADMIN')" >
            <button type="button" name="eliminar" (click)="delete(user)" class="btn btn-danger btn-sm">eliminar</button>
          </td>
       
      </tr>
      
    </tbody>
  </table>
