<button (click)="exportToPDF()">Exportar a PDF</button>
<div *ngIf="!user; else table" class="alert alert-warning text-center">
    No hay usuarios
</div>



<ng-template  #table >
    <table class="table" #tablaUsuarios>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">email</th>
            <th scope="col">Activo</th>
          
           
    
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">{{user.idUser}}</th>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.status}}</td>
           
             
           
          </tr>
          
        </tbody>
      </table>
    
</ng-template>

