<ul class="alert alert-danger" *ngIf="errores!.length">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>

<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form #userForm="ngForm">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.userName" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors?.['required']">
                                Nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors?.['minlength']">
                            Nombre debe tener al menos 4 caracteres
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="passsword" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="passsword"  #password="ngModel"> required minlength="4" 
                    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors?.['required']">
                                password es requerido
                        </div>
                        <div *ngIf="password.errors?.['minlength']">
                            password debe tener al menos 8 caracteres
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.email" name="email"  #email="ngModel"><!-- required email -->
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors?.['required']">
                                Email es reuqerido
                        </div>
                        <div *ngIf="email.errors?.['email']">
                           Email debe tener un formato valido
                    </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                   
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!user.idUser else elseBlock" [disabled]="!userForm.form.valid">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!userForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>

    </div>
</div>